<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
		<resultMap type="Board" id="boardResultMap">
		<id property="boardNo" column="BOARD_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardWriter" column="BOARD_WRITER" />
		<result property="boardFilename" column="BOARD_FILENAME" />
		<result property="boardFileRename" column="BOARD_FILERENAME" />
		<result property="boardFilepath" column="BOARD_FILEPATH" />
		<result property="boardFilelength" column="BOARD_FILELENGTH" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="bCreateDate" column="B_CREATE_DATE" />
		<result property="bUpdateDate" column="B_UPDATE_DATE" />
		<result property="bStatus" column="B_STATUS" />
	</resultMap>
	

	<insert id="insertBoard">
		INSERT INTO BOARD_TBL VALUES(SEQ_BOARD_NO.NEXTVAL, #{boardTitle}, #{boardContent}, #{boardWriter}, #{boardFilename}, #{boardFileRename}, #{boardFilepath}, #{boardFilelength}, 0, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL
	</select>
	
	<select id="selectBoardList" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectBoardByNo" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- <update id="updateNotice">
		UPDATE NOTICE_TBL SET NOTICE_SUBJECT = #{noticeSubject}, NOTICE_CONTENT = #{noticeContent}, NOTICE_FILENAME = #{noticeFileName}, NOTICE_FILERENAME = #{noticeFileRename}, NOTICE_FILEPATH = #{noticeFilePath}, NOTICE_FILELENGTH = #{noticeFileLength}, N_UPDATE_DATE = DEFAULT WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<select id="selectNoticesByKeyword" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL
		<if test="searchCondition == 'all'">
			WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%' OR NOTICE_WRITER LIKE '%'||#{searchKeyword}||'%' ORDER BY NOTICE_NO DESC
		</if>
		<if test="searchCondition == 'writer'">
			WHERE NOTICE_WRITER LIKE '%'||#{searchKeyword}||'%' ORDER BY NOTICE_NO DESC
		</if>
		<if test="searchCondition == 'title'">
			WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%' ORDER BY NOTICE_NO DESC
		</if> 
		<if test="searchCondition == 'content'">
			WHERE NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%' ORDER BY NOTICE_NO DESC
		</if>
	</select>
	
	<select id="selectListByKeywordCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL
		<if test="searchCondition == 'all'">
			WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%' OR NOTICE_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'writer'">
			WHERE NOTICE_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
			WHERE NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select> -->
	
	

</mapper>