<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.aug.spring.member.domain.Member" alias="Member"/>
		<typeAlias type="com.aug.spring.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.aug.spring.board.domain.Board" alias="Board"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
	</mappers>
</configuration>